<configuration>
    <appender name="APP" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- naše vlastní třídy -->
    <logger name="cz.muni.fi.hotel" level="debug"/>
    <!-- transakce -->
    <logger name="corg.springframework.transaction" level="debug"/>
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager" level="debug" />
    <!-- SQL příkazy -->
    <logger name="org.springframework.jdbc.core" level="debug"/>
    <!-- nastavování hodnot v PreparedStatementech -->
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="trace"/>

    <root level="info">
        <appender-ref ref="APP"/>
    </root>
</configuration>